.ProfileContainer{
    width: 1000px;
    height: 400px;
    margin: 100px auto;
    box-shadow: 10px 10px 10px black;
    display: flex;
}

.imageCol{
    width: 40%;
}

.contentCol{
    width: 60%;
    padding: 20px;
}

.check{
    padding: 30px;
}